

/* resume generator */
.nav-btn:hover{
 background: white;
 
}
.nav-btn{
  border: 1px solid white;
}
a{
text-decoration: none;
}


.section{
padding-top: 60px;
padding-bottom: 60px;
}
.section h2.section-head{
text-align: center;
color: #000;
margin-bottom: 40px;
}
.section h2.section-head::afer{
background: #e74c3c;
content: "";
display: block;
width: 100px;
height: 3px;
margin: 20px auto;
}

 
#banner{
 background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS56DGnqz2lHmFcOH00bjHfmdTWBmkwumEzWA&usqp=CAU")
 no-repeat 0 0;
 background-size: cover;
  background-position: center;
}
.banner-title{
padding-top: 5rem;

} 

.banner-title h1{
background: rgba(255,255,255,0.8);
display: inline-block;
padding: 10px;
margin: 0;
}
 



