

/* resume generator */
.nav-btn:hover{
 background: white;
 
}
.nav-btn{
  border: 1px solid white;
}
a{
text-decoration: none;
}


.section{
padding-top: 60px;
padding-bottom: 60px;
}
.section h2.section-head{
text-align: center;
color: #000;
margin-bottom: 40px;
}
.section h2.section-head::afer{
background: #e74c3c;
content: "";
display: block;
width: 100px;
height: 3px;
margin: 20px auto;
}

 
#banner{
 background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS56DGnqz2lHmFcOH00bjHfmdTWBmkwumEzWA&usqp=CAU")
 no-repeat 0 0;
 background-size: cover;
  background-position: center;
}
.banner-title{
padding-top: 5rem;

} 

.banner-title h1{
background: rgba(255,255,255,0.8);
display: inline-block;
padding: 10px;
margin: 0;
}
 
.banner-title p.lead{
 color: #fff;
background: #2a9bec91;
padding: 10px;
}
.service-box{
text-align: center;

}
.service-box i.fa{
color: #2ba5ff;
  font-size: 60px;
  margin-bottom: 15px;
}

   #containerform{
  /* width: 90vw;
   height: 90vh;
  overflow: auto;   */
/* background-color: #91c5eb; */
border-radius: 9px;
box-shadow: 0 0 9px rgba(0, 0, 0, 0.836);
}   


#cv-form{
  display: none;
}

 #cv-template {
  display: none;
} 



#cv-template{
  margin-top: 6px;
width: 60vw;
/* height: 140vh;
overflow: auto; */
 background: rgba(212, 210, 210, 0.884); 
 border-radius: 5px;
}

.smallcol{
  background-color: rgb(99, 95, 95); 
  color: white;
  border-radius: 5px 5px;
}
.smallcol a{
 color: white;
 border-bottom: 1px solid white;
}

.namearea{
  margin-top: 80px;

}
.workcolor{
color: white;

}
